
@import './fonts/font.css';
@import './iconfont/iconfont.css';
@import 'dhtmlx-gantt/codebase/dhtmlxgantt.css';
// 不可选中
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
/* 滚动条 */
body *::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
body *::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 2px;
}
body *::-webkit-scrollbar-thumb {
	background: rgb(205, 206, 206);

	border-radius: 10px;
}
body *::-webkit-scrollbar-thumb:hover {
	background: rgb(169, 173, 173);
}
body *::-webkit-scrollbar-corner {
	background:  #fff;
}
//-------间距-------
.mall-mini {
  margin: 5px
}
.mall-samll {
  margin: 10px
}
.mall-medium {
  margin: 15px
}

// margin horizontal
.mh-mini { 
  margin: 0 5px;
}
.mh-small ,.mh {
  margin: 0 10px;  
}
.mh-medium {
  margin: 0 15px;  
}

// margin vertical
.mv-mini { 
  margin: 5px 0;
}
.mv-small ,.mv {
  margin: 10px 0;  
}
.mv-medium {
  margin: 15px 0;  
}

// margin top
.mt-mini { 
  margin-top: 5px;
}
.mt-small ,.mt {
  margin-top: 10px;  
}
.mt-medium {
  margin-top: 15px;  
}

// margin right
.mr-mini{
  margin-right: 5px;
}
.mr-small ,.mr {
  margin-right: 10px;  
}
.mr-medium {
  margin-right: 15px;  
}

// margin bottom
.mb-mini {
  margin-bottom: 5px;
}
.mb-small ,.mb {
  margin-bottom: 10px;  
}
.mb-medium {
  margin-bottom: 15px;  
}

// margin left
.ml-mini {
  margin-left: 5px;
}
.ml-small ,.ml {
  margin-left: 10px;  
}
.ml-medium {
  margin-left: 15px;  
}
//------------------
// ------文本------
.title-small-bold {
  font-size: 18px;
  font-weight: 600;  
}
.text-small {
  font-size: 16px;
  letter-spacing: 1.5px;
}
// 文本不可选中
.not-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
//-----------------
// .el-dialog__header, .el-dialog__wrapper {
// padding-top: 50px !important;
// }

// .el-table__fixed-body-wrapper {
// top: 35px !important;
// }

// 菜单
.el-submenu__title, .el-submenu .el-menu-item {
  height: 39px;
  line-height: 39px;
}
.control-size-btn{
  position: absolute;
  right: -0.225rem;
  bottom: 50%;
  z-index: 99;
  font-size: 22px;
  color: #A9A9A9;
  cursor: move
}
.is-opened > .el-submenu__title {
  background: rgba(252, 115, 117, 1) !important;
  color: #fff;
}

.el-menu-item:hover {
  background: #ececec;
  color: #555;
}

.el-tooltip__popper {
  font-size: 16px;
}

.el-table__body-wrapper {
  z-index: 2;
}

// @import './index.css';
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.btnList {
  height: 30px;
  line-height: 30px;
  margin: 5px 0 5px 6px;
  text-align: left;
}

.formBox {
  width: 99%;
  margin: 0 auto;
  // margin-bottom: 5px;
}

.crudBox {
  margin-top: -4px;
}

.avue-group {
  border: 1px solid #eee;
  border-bottom: none;
  padding: 0 5px !important;
}


.avue-group:first-child {
  padding-top: 10px !important;
}

.avue-group:last-child {
  border-bottom: 1px solid #eee;
}

.avue-group .el-collapse-item__arrow {
  margin-top: 0px;
  font-size: 24px !important;
}

.avue-group__header {
  height: 25px !important;
  line-height: 25px !important;
  margin-bottom: 5px !important;
}
.el-tree-node__label{
  font-size: 16px

}
.el-tree-node__content{
  height: 32px;
}
.is-right input {
  text-align: right;
}
.el-range-editor--mini.el-input__inner{
    height: 34px !important
}
.el-date-editor .el-range__icon,.el-range-editor--mini .el-range-input{
  font-size: 16px !important
}

.el-range-editor--mini .el-range-separator {
    line-height: 28px;
    font-size: 16px;
}
.el-table {
  overflow: visible !important;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td {
  background-color: #BBDDFF !important;
}

.el-input-number__decrease, .el-input-number__increase {
  display: none !important;
}

.el-input-number.is-controls-right .el-input__inner {
  padding-right: 8px;
}

// }
.is-right .el-input__suffix {
  display: none !important;
}

.el-button, .el-button--mini.is-round {
  padding: 5px 10px 5px 10px !important;
  font-size: 16px !important;
}

#viewDlg .el-dialog.is-fullscreen {
  overflow: hidden !important;
}

.el-table .sort-caret.ascending {
  top: 0 !important;
}

.el-table .sort-caret.descending {
  bottom: 0 !important;
}

.caret-wrapper {
  height: 24px !important;
}

.el-form-item--mini .el-form-item__error {
  display: none;
}

.avue-crud__pagination >div {
  display: block !important;
}

.el-dialog__body {
  padding: 0 !important;
}

#wkDlg .el-dialog__body, #sxrcDlg .el-dialog__body, #kbDlg .el-dialog__body {
  padding: 0 !important;
}

.el-table__footer-wrapper, .el-table__header-wrapper {
  font-size: 16px !important;
}

.avue-tabs {
  padding: 0px 10px 0;
}

.avue-input-icon__icon {
  color: rgb(102, 177, 255) !important;
}

.el-table__header-wrapper, .el-form-item__label, .el-input--mini, .el-table__row {
  font-size: 16px !important;
}

.avue-data-cardText .item-content {
  text-align: left;
}

.avue-data-cardText .item {
  padding: 10px 15px;
  text-indent: 5px;
}

.avue-crud__empty .avue-empty__desc {
  color: #000;
}

.el-table .cell {
  padding-left: 5px;
  padding-right: 5px;
}

.el-tree-node__content {
  height: 30px !important;
}

.el-select-dropdown__item {
  font-size: 16px !important;
}

.avue-crud th {
  font-weight: normal;
}

.el-tabs__nav-next, .el-tabs__nav-prev {
  line-height: 30px;
  font-size: 20px;
}

// 分页信息
.avue-crud__pagination {
  padding: 2px !important;

  input {
    height: 25px !important;
    line-height: 25px !important;
  }

  .el-pagination button, .el-pager li {
    height: 25px;
    line-height: 25px;
  }
}

.avue-form .el-input--mini input {
  min-height: 35px ;
  line-height: 35px;
}

.el-form-item--mini .el-form-item__content, .el-form-item--mini .el-form-item__label {
  line-height: 32px;
}

.el-table--mini {
  font-size: 16px;
}

.avue-crud__menu {
  height: 0 !important;
  min-height: 0 !important;
  font-size: 18px;
  margin-bottom: 0px !important;
}

.avue-form__menu {
  display: none !important;
}

.el-message-box__headerbtn {
  font-size: 22px;
}

.el-message-box__content {
  font-size: 18px;
}

.el-input--prefix .el-input__inner, .el-input--suffix .el-input__inner {
  padding: 0 5px !important;
}

.el-input__prefix {
  display: none;
}

.el-input__inner {
  padding: 0 4px;
}

.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 10px;
}

// 针对 Avue2.7.8版本进行样式兼容
.cell .el-form-item--mini.el-form-item,
.cell .el-form-item--small.el-form-item {
  margin-bottom: 0px !important;
}
.cell .el-form-item__content{
  line-height: inherit !important
}
.avue-crud__tip{
  display: none !important
}

.el-form-item__label {
  color: #000;
  // font-weight: 600;
}

.el-table .cell, .el-table--border td:first-child .cell {
  padding-left: 4px;
}

.el-checkbox__inner {
  width: 18px;
  height: 18px;
}

.el-checkbox__label {
  font-size: 16px;
}

.el-checkbox__inner::after {
  top: 2px;
  left: 6px;
}

.el-input-number .el-input__inner {
  text-align: right !important;
}

.el-input.is-disabled .el-input__inner {
  color: #909399 !important;
}

.el-popover--plain {
  padding: 10px !important;
}

.el-form-item--feedback .el-input__validateIcon {
  display: none !important;
}

// .el-date-editor .el-input__inner {
// text-align: center !important;
// }

// -------------- Element UI
// .el-tabs__item { // tabs 的标题
// font-size: 16px;
// }
.el-card, .el-message {
  border-radius: 0 !important;
}

.el-card {
  border: none !important;
}

.el-dialog__header {
  text-align: center !important;
  font-size: 18px;
  font-weight: bold;
  padding: 0px !important;
}

.el-dialog__headerbtn {
  right: 5px;
  top: 5px;
  z-index: 99;
  font-size: 22px;
}

.el-message {
  top: 250px !important;
}

.el-button--mini, .el-button--small {
  font-size: 15px;
}

.el-message__content, .el-message {
  font-size: 16px !important;
  font-weight: bold;
}

.el-tabs__item {
  font-size: 18px;
  line-height: 36px;
}

.el-tabs--border-card>.el-tabs__content {
  padding: 0px;
}

.item-header {
  text-align: left;

  a {
    font-weight: bold;
    color: '#000';
  }
}

.item-footer {
  height: 10px;
}

.el-table th {
  text-align: center !important;
}

.el-dialog__headerbtn .el-dialog__close {
  color: #000;
}

// .el-button--mini, .el-button--mini.is-round {
// padding: 5px 12px;
// }
.el-tabs__item {
  font-size: 17px !important;
  line-height: 28px;
}

.el-tabs__item {
  height: 28px;
}

.avue-crud__dialog__menu i {
  color: #000;
  font-size: 17px;
  margin-top: 9px;
  margin-right: 15px;
}

#FabricOrder {
  text-align: center;

  .el-dialog__body {
    padding: 20px 30px !important;
  }

  .Quality {
    // margin-right: 2px;
    border-right: 1px solid #C0C4CC;
    border-left: none;
  }

  .tbBox1 {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .contentDiv {
      border-bottom: 1px solid #C0C4CC;

      .ffStyle {
        border-right: 1px solid #C0C4CC;
        // margin-left: -0.5px;
        // border-top: 1px solid #C0C4CC;
        // margin-top: -1px;
      }

      .contentList {
        border-right: 1px solid #C0C4CC;
        border-top: 1px solid #C0C4CC;
        margin-top: -1px;

        .cdiv {
          height: 49px;
          line-height: 49px;
          text-align: center;
          // margin-left: -0.5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .cdiv:last-child {
          border-bottom: none;
          height: 50px;
          line-height: 50px;
        }
      }
    }

    .contentDiv:last-child {
      border-bottom: none;
    }

    .rowBox {
      width: 150%;
      float: none;
      min-width: 900px;
      white-space: nowrap;
    }

    .el-input {
      width: 90%;
    }

    .el-input--mini .el-input__inner {
      height: 30px;
      line-height: 30px;
    }
  }

  .tbBox {
    .contentDiv {
      border-bottom: 1px solid #C0C4CC;
      border-right: 1px solid #26a7e0;

      .ffStyle {
        border-right: 1px solid #C0C4CC;
        // margin-left: -0.5px;
        // border-top: 1px solid #C0C4CC;
        // margin-top: -1px;
      }

      .contentList {
        border-right: 1px solid #C0C4CC;
        border-top: 1px solid #C0C4CC;
        margin-top: -1px;

        .cdiv {
          height: 49px;
          line-height: 49px;
          text-align: center;
          // margin-left: -0.5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .cdiv:last-child {
          border-bottom: none;
          height: 50px;
          line-height: 50px;
        }
      }

      .contentList:last-child {
      }
    }

    .contentDiv:last-child {
      border-bottom: none;
    }

    .el-input {
      width: 90%;
    }
  }

  .content {
    border-bottom: 1px solid #C0C4CC;
  }

  .headBox {
    padding: 0 !important;
    height: 100% !important;
    width: 100%;
  }

  .labDiv {
    height: 50px;
    line-height: 50px;
  }

  .rowHead {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    background: #f4f4f4;
    border: 1px solid #C0C4CC;
    border-right: none;
    border-left: none;

    .el-col {
      height: 50px;
      line-height: 50px;
      border-right: 1px solid #C0C4CC;
    }

    .el-col:last-child {
      height: 50px;
      line-height: 50px;
      border-right: none;
    }
  }

  .mainBox {
    font-size: 15px;
    height: calc(100vh - 242px);
    padding: 0 !important;
    border-bottom: 1px solid #C0C4CC;
    // border-top: 1px solid #C0C4CC;
    // border-left: 1px solid #C0C4CC;
    // border-right: 1px solid #C0C4CC;
    // padding: 0 1px;
    -ms-overflow-style: none;
    /* 火狐下隐藏滚动条 */
    overflow: none;
    scrollbar-width: none;

    // overflow-y: hidden;
    .iptBox {
      height: 44px;
      line-height: 44px;
      margin: 3px 0;
      text-align: center;
    }

    .mainRow {
      border-top: 1px solid black;
    }

    .mainRow:frist-child {
      border-top: none;
    }
  }

  .avue-form .el-input--mini input {
    width: 100% !important;
  }

  .mainBox::-webkit-scrollbar {
    display: none;
  }

  .pzStyle {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid #C0C4CC;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #C0C4CC;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
  }

  .pzCont {
    height: 100%;
    line-height: 50%;
  }

  .nullStyle {
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #C0C4CC;
    // margin-left: -0.5px;
  }

  .xmStyle {
    height: 50px;
    // line-height: 50px;
    border-right: 1px solid #C0C4CC;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // margin-left: -0.5px;
  }

  .tbLabel {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: 10%;
  }

  .readonlys {
    border: none;
  }

  .btn {
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #C0C4CC;
  }

  .btns {
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #C0C4CC;
    border-bottom: 1px solid #C0C4CC;
  }

  .btns:last-child {
    border-bottom: none;
  }

  .tbBtn {
    margin: 10px 10px 10px 0px;
    text-align: left;
  }

  .content {
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
    height: auto;

    // display: flex;
    // align-items: center;
    .el-col:last-child {
      border: none;
    }

    .supEqut {
      min-height: 30px;
      line-height: 30px;
    }
  }

  .item {
    padding: 4px;
    font-size: 14px;
  }

  // .el-dialog__header {
  // height: 0;
  // padding: 0;
  // }
  .el-dialog__body {
    padding: 10px;
  }

  .avue-form__menu--center {
    margin-left: -25px !important;
  }

  .nullData {
    margin-top: -1px;
    height: 51px;
    line-height: 51px;

    .el-col-6, .el-col-8 {
      border-right: 1px solid #C0C4CC;
    }
  }
}